:root {
    --dark-blue: #2a5785;
    --text-white: blanchedalmond;
}

* {
    margin: 0;
    padding: 0;
}

html {
  }

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #91a3b4;
}

header {
    text-align: center;
    background-color: var(--dark-blue);
}

header > h1 {
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text-white);
}

.status {
    font-size: 2rem;
    color: #2a66a3;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    background-color: var(--dark-blue);
    width: 450px;
	height: 450px;
    margin: 2rem auto;
    border: 6px solid #283a4b;
    border-radius: 1rem;
}

.field {
    border: 6px solid #283a4b;
    gap: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: antiquewhite;
}

.container {
    text-align: center;
}

button {
    background-color: var(--dark-blue);
    color: var(--text-white);
    border: solid transparent;
    border-radius: 16px;
    width: 3rem;
    height: 2rem;
}

footer {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(46, 126, 79);
}

